.git
.github
node_modules
.wrangler
.env
.env.*
!.env.example
local.env
prod.env
*.md
src
package.json
package-lock.json
wrangler.json
tsconfig.json
deploy
*.log
.idea
.vscode
.DS_Store
coverage.out
bin
dist
